<template>
    <div>
        <router-view></router-view>
        <div id="portal-target"></div>
    </div>
</template>

<script>
    export default {
        name: "App",

        components: {},

        data: () => ({})
    };
</script>