<template>
    <div>
        <button >
            Click me !!
        </button>
        <div target="#portal-target">
            This text will be rendered where our div element with ID #portal-target is.
        </div>
    </div>
</template>

<script>
    export default {
        name: "Component",

        components: {},

        data: () => ({})
    };
</script>