<template>
    <div>
        <button @click="handleClick"> Like Me </button>
        {{isLiked}}
    </div>
</template>

<script>
    export default {
        name: "MyComponent",
        data() {
            return {
                isLiked: false
            }
        },
        methods: {
            handleClick() {
                this.isLiked = !this.isLiked;
                this.$store.commit('onLiked', this.isLiked);
            }
        }
    }
</script>