<template>
  <div id="app">
    <notification inline-template>
      <div class="notification">
        <a href="#" @click.prevent="click">click here</a>
        <a href="#" @click.stop="click">click here</a>
        <a href="#" @click.capture="click">click here</a>
        <a href="#" @click.self="click">click here</a>
        <a href="#" @click.once="click">click here</a>
        <a href="#" @click.passive="click">click here</a>
      </div>
    </notification>
  </div>
</template>
